# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     localhost
    database_port:     ~
    database_name:     diabetehelper
    database_user:     diabetehelperArtandor
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: gmail
    mailer_encryption: tls
    mailer_host: smtp.gmail.com
    mailer_user: domy59noreply@gmail.com
    mailer_password: domy59n0reply

    # A secret key that's used to generate certain security-related tokens
    secret:            c42ed44ec03668834d52bc546a01104f2ecdadd9
