header {
    /*Design Menu*/
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

body {
    background: no-repeat fixed;
    background-color: lightgrey;
}

.container {
    opacity: 0.85;
    background-color: white;
    border-radius: 5px;
    padding: 1%;
}

.form-control {
    width: 40%;
}

table, th {
    text-align: center;
}

.modal-backdrop {
    z-index: -10000;
}

.degrade {
    background: -webkit-gradient(linear, left top, left bottom, from(#cb0009), to(#02b421));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.breadcrumb {
    margin: 0;
}