/*Big blocks*/
header {
    /*Design Menu*/
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

body {
    background: no-repeat fixed;
    background-color: lightgrey;
}

.container {
    opacity: 0.85;
    background-color: white;
    border-radius: 5px;
    padding: 1%;
}


/* Titles */

h1{
    font-size: 30px;
}

h2{
    font-size: 27px;
}

/* Forms */
.form-control {
    width: 40%;
}

/* Modals */

.modal-backdrop {
    z-index: -10000;
}

/* Others */

table, th {
    text-align: center;
}



.alert{
    margin: 20px 0;
}

ol .close{
    float: none;
}

/* Custom */

.degrade {
    background: -webkit-gradient(linear, left top, left bottom, from(#cb0009), to(#02b421));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

