{% extends "::base.html.twig" %}

{% block title %}- DiabHelper {{ parent() }}{% endblock %}


{% block header %}
    {{ parent() }}
{% endblock header %}

{% block breadcrumb %}
    <ol class="breadcrumb">
    {{ parent() }}
    <li><a href="{{ path('diabete_homepage') }}">Page d'accueil</a></li>
{% endblock breadcrumb %}